$backgroundColor: #0C0910;
$fontColor: #fff;
$linkColor: #91E5F6;
$maxWidth: 43.75rem;

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  max-width: $maxWidth;
  padding: 2rem 1rem;
  line-height: 1.5;
}

a {
  color:lightcoral;

  &:visited {
    color: lightgreen;
  }
}

p {
  line-height: 1.5;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}