{{ define "main" }}
  {{ if or .Title .Content }}
    {{ with .Title }}
      <h1>
        {{ . }}
      </h1>
    {{ end }}
    {{ with .Content }}
      {{ . }}
    {{ end }}
  {{ end }}
  <ul class="list-unstyled">
    {{ range .Pages.ByDate }}
      <li>
        {{ .Render "summary" }}
        <small>
          <time datetime="{{ .Date.Format "January 2, 2006" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </small>
      </li>
    {{ end }}
  </ul>
{{ end }}
